@model IEnumerable<MyWeb.Models.Delivery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Discipline.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sportsman.SurName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Discipline.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sportsman.SurName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliveryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliveryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryID })
        </td>
    </tr>
}

</table>
